@model StudentClassServiceModel

@{
    ViewBag.Title = "Телефонен номер";
}

<h1 class="text-center" ->@ViewBag.Title</h1>
<br />
<form method="post" class="col-lg-6 offset-lg-3 col-sm-12 col-md-8 offset-md-2">
    <div class="form-group">
        <label asp-for="Class"></label>
        <input asp-for="Class" class="form-control" id="name">
        <span class=" small text-danger">Въведете число между 0 и 12 (0 е за ученици без конкретен клас)</span>>
    </div>
    <input class="btn btn-primary" type="submit" value="Запиши" />
</form>