@model ErrorViewModel
@{
    ViewBag.Title = "Страницата не е намерена";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">Възникна грешка по време на заявката Ви. Не откриваме Вашата страница</h2>
